Frame/xml/filmes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="festival">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="filme" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="genero" type="xs:string"/>
                            <xs:element name="cartaz" type="xs:string"/>
                            <xs:element name="sinopse" type="xs:string"/>
                        </xs:sequence>
                        
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>